<div class="product">
  <h1 class="product-title">{{ product.name }}</h1>
  <div class="product-plans">
    <div 
      *ngFor="let plan of product.plans"  
      class="product-plans-plan"
    >
      <span class="currency">{{ CurrencyDisplayName[plan.currency] }}</span>
      <span class="price">{{ plan.priceCents }} </span>
      / {{ PaymentIntervalDisplayName[plan.paymentInterval] }}
    </div>
    <div class="select-plan" (click)="selectPlan()">Select</div>
  </div>
  <div class="product-features">
    <div 
      class="product-features-feature"
      *ngFor="let feature of product.features"
    >
      <span>{{ feature }}</span>
    </div>
  </div>
</div>