:host {
  font-size: calc(14px + 6 * ((100vw - 300px) / 1300));
  text-align: left;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.product {
  width: calc(12em + 30px);
  height: 100%;
  padding: 10px 20px;
  &:hover {
    background: #fff;
    transition: .3s;
    color: #6023f3;
    & .select-plan {
      border: 1px solid #6023f3;
    }
    & .product-features {
      &-feature {
        &:not(:last-child) {
          border-bottom: 1px solid #6023f3;
        }
      }
    }
  }
  &-features {
    &-feature {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 120px;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        border-bottom: 1px solid #ffffff69;
      }
    }
  }
  & .price {
    font-size: 1.5em;
  }
  & .currency {
    position: relative;
    top: -10px;
    opacity: .8;
  }
  & .select-plan {
    border: 1px solid #fff;
    padding: 10px 15px;
    text-align: center;
    margin-top: 2em;
    &:hover {
      background: #6023f3;
      color: #fff;
      transition: .3s;
      cursor: pointer;
    }
  }
}