<h1>Product Subscription</h1>

<app-preloader *ngIf="!(products$ | async)?.length"></app-preloader>

<div class="cards">
  <app-product-card 
    [product]="product"
    *ngFor="let product of products$ | async"
    (onPlanSelect)="openProductDetailsDialog(product)"
  ></app-product-card>
</div>
