.wrapper {
  width: 500px;
  display: block;
  padding: 50px;
  & .mat-dialog-title {
    font-family: "DM Mono", monospace!important;
    font-size: 2em;
    margin-bottom: 1em;
  }
  & .mat-dialog-content {
    font-family: "DM Mono", monospace !important;
    font-size: 1em;
    line-height: 2em;
  }
  & .product-plans-plan {
    margin-bottom: 1em;
  }
}
