<div class="wrapper">
  <h2 mat-dialog-title>{{ data.product.name }}</h2>

  <mat-dialog-content class="mat-typography">
    <div 
        *ngFor="let plan of data.product.plans"  
        class="product-plans-plan"
      >
        <span class="currency">{{ CurrencyDisplayName[plan.currency] }}</span>
        <span class="price">{{ plan.priceCents }} </span>
        / {{ PaymentIntervalDisplayName[plan.paymentInterval] }}
    </div>
  
    <div class="product-features">
      <div 
        class="product-features-feature"
        *ngFor="let feature of data.product.features"
      >
        <span>{{ feature }}</span>
      </div>
    </div>
  </mat-dialog-content>
</div>

